# Binaries
*.exe
*.so
*.dylib

# Logs
*.log

# Assets & Minecraft Resources
textures/
!textures/.gitkeep
minecraft/
assets/minecraft/
*.mcmeta

# IDEs
.vscode/
.idea/

# Runtime Data
saves/
settings.json
screenshot000.png
